<footer>
    <section>
        <span>&copy;Medio de Contancto</span>
    </section>
    <ul>
        {{#each socialNetworks}}
        <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}
    </ul>
</footer>