<header>
    <input type="checkbox" id="hamburger-input">
    <label class="hamburger" for="hamburger-input">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section>Portafolio Vite</section>
</header>